.md-main__inner.md-grid {
  max-width: initial;
}

.md-grid {
  max-width: initial;
}

.md-typeset__table {
  overflow-x: visible;
}

.md-typeset table {
  width: 100%;
  table-layout: auto;
  white-space: normal;
}

.md-typeset table th,
.md-typeset table td {
  padding: 0.4rem 0.6rem;
  font-size: 0.8rem;
  vertical-align: top;
}

.md-typeset table th {
  background-color: #f5f5f5;
  font-weight: 600;
}
