.md-footer-meta .md-footer-meta__inner > :first-child::after {
  content: "2026 FinDevSecOps Community collaborated with geminishkv";
  color: #ffffff;
  font-weight: 400;
  font-size: 0.6rem;
}

.md-footer__meta__inner {
  display: none;
}

.md-footer {
  font-family:
    "Montserrat",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  background-color: #1953ff;
}