.md-header,
.md-header__inner,
.md-header-nav,
.md-header-nav__inner {
  background-color: #1953ff;
}

.md-header .md-header__title,
.md-header .md-header__title a,
.md-header .md-tabs__link {
  color: #ffffff;
}

.md-typeset,
.md-nav,
.md-header {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.md-header .md-header__title {
  display: flex;
  align-items: center;
}

.md-header .md-header__title {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.md-header .md-logo {
  margin-left: 0rem;
  margin-right: 1,5rem;
  order: 2;
  display: flex;
  align-items: center;
}

.md-header .md-logo img {
  height: 32px;
  width: auto;
  max-width: 32px;
}

.md-header .md-header__title .md-header__topic {
  font-size: 0.7rem;
  font-weight: 700;
}