.md-nav__title,
.md-nav--primary .md-nav__title {
  background-color: #1953ff;
  color: #ffffff;
}

.md-nav__title[for="__drawer"] {
  background-color: #1953ff;
  color: #ffffff;
}

.md-nav__title[for="__drawer"] .md-logo,
.md-nav__title[for="__drawer"] .md-logo img {
  background-color: transparent;
}

.md-nav__title[for="__drawer"] .md-ellipsis,
.md-nav__title[for="__drawer"] a,
.md-nav__title[for="__drawer"] .md-nav__button {
  color: #ffffff;
}

.md-nav__title .md-nav__button,
.md-nav__title .md-nav__link,
.md-nav__title .md-ellipsis {
  color: #ffffff;
}

.md-nav__item--active > .md-nav__link {
  color: #1953ff;
}

.md-sidebar--primary .md-sidebar__scrollwrap > .md-sidebar__inner > .md-nav__source,
.md-sidebar--primary .md-nav__item--section > .md-nav__link {
  background-color: #1953ff;
  color: #ffffff;
}

.md-sidebar--primary .md-nav__item--section > .md-nav__link .md-ellipsis {
  color: #ffffff;
}

.md-sidebar--primary .md-nav__item--section > .md-nav__link .md-nav__button,
.md-sidebar--primary .md-nav__item--section > .md-nav__link svg {
  color: #ffffff;
  fill: #ffffff;
}

.md-nav__title + .md-nav__list {
  border-top: none;
}

.md-sidebar--primary .md-nav__item--section > .md-nav__link {
  box-shadow: none;
  border-bottom: none;
}
