.md-main__inner {
  margin-left: 0;
}

@media screen and (min-width: 1680px) {
  .md-sidebar--primary {
    width: 10rem;
    max-width: 10rem;
  }

  .md-main__inner {
    margin-left: 10rem;
  }
}

.md-sidebar--primary .md-nav {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  font-size: 0.55rem;
}

.md-nav,
 .md-sidebar__inner {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  font-size: 0.55rem;
  color: #1953ff;
}

.md-sidebar--primary .md-nav__link,
.md-sidebar--primary .md-nav__link:visited {
  color: #1953ff;
}

.md-sidebar--primary .md-nav__item--active > .md-nav__link,
.md-sidebar--primary .md-nav__link--active {
  font-weight: 700;
  color: #1953ff;
}

.md-sidebar--primary .md-nav__item--active > .md-nav__link,
.md-nav__link--active .md-sidebar--primary {
  font-weight: 700;
  color: #1953ff;
}

.md-content h1,
.md-content h2,
.md-content h3 {
  color: #1953ff;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.md-typeset {
  color: #000000;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.md-typeset {
  color: #000000;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
