.md-sidebar--primary .md-nav,
.md-sidebar--primary .md-sidebar__inner {
  font-size: 0.6rem;
}

.md-sidebar--primary .md-nav__link,
.md-sidebar--primary .md-nav__link:visited {
  font-size: 0.7rem;
  color: #1953ff;
  margin: 0.35rem 0;
}

.md-sidebar--primary .md-nav__item--active > .md-nav__link,
.md-sidebar--primary .md-nav__link--active {
  font-weight: 700;
  color: #1953ff;
  margin: 0.15rem 0;
}

.md-sidebar--primary .md-nav--primary .md-nav__title {
  background-color: #1953ff;
  color: #ffffff;
}

.md-sidebar--primary .md-sidebar__inner .md-header-nav {
  display: flex;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.md-sidebar--primary .md-sidebar__title {
  color: #ffffff;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.md-sidebar--primary .md-nav__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  gap: 0;
  color: #1953ff;
}